{% extends 'base.html' %}

{% block content %}
    <h1>Hello, Avenger! Please register here.</h1>

    <form action="" method = "POST">
         {{ form.hidden_tag() }}
        <div class = "form-group"> 
            <fieldset>
                {{ form.firstname.label }}
                {{form.firstname(class='form-control', placeholder='First Name') }}
            </fieldset>
            <fieldset>
                {{ form.lastname.label }}
                {{form.lastname(class='form-control', placeholder='Last name') }}
            </fieldset>
            <fieldset>
                {{ form.heroname.label }}
                {{form.heroname(class='form-control', placeholder='Hero Name') }}
            </fieldset>
            <fieldset>
                {{ form.address.label }}
                {{form.address(class='form-control', placeholder='Address') }}
            </fieldset>
            <fieldset>
                {{ form.phonenumber.label }}
                {{form.phonenumber(class='form-control', placeholder='Phone Number') }}
            </fieldset>
            <fieldset>
                {{ form.email.label }}
                {{form.email(class='form-control', placeholder='Email') }}
            </fieldset>
            <fieldset>
                {{ form.password.label }}
                {{form.password(class='form-control', placeholder='Password') }}
            </fieldset>
            <fieldset>
                {{ form.confirm_password.label }}
                {{form.confirm_password(class='form-control', placeholder='Confirm Password') }}
            </fieldset>
            {{ form.submit(class='btn btn-success') }}
        </div>
    
    </form>

{% endblock content %}    
    